
<div id="congressional_map" class="congressional_map">
  <div class="container">
  <center><h2>What are people saying about <%=@congressperson.first_name%></h2></center>

  <div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>

	</div>
</div>
