<div class="container" data-no-turbolink>
<div class = "inner">
  <div class="sentiment">
    <center>
      <h2>How people feel about <%= @congressperson.first_name %> <%= @congressperson.last_name %></h2>
      <button name="wordmap" class="btn">Wordmap</button>
      <button type="submit" name="sentiment" class ='btn'>Sentiment</button>
    </center>
    
    <h3> Sentiment Analysis by Alchemy </h3>
    <div id="graph" class="aGraph">
    </div>

    <h3> Most Commonly Used Words </h3>   
  	<div id="wordmap">
    </div>

    <div id="twitter_stuff" class="senator-card-democrat" style="position:absolute;top:50px;left:0;float:left">
  	  <%@tweets_to_render.each do |tweet|%>
  	    <p><%=tweet.text%></p>
  	  <%end%>
    </div>
  </div>
  <
</div>
