<div class="container" data-no-turbolink>
  <div class="sentiment">
    <center><h2>How do people feel about <%=@congressperson.first_name%></h2></center>
    <div id="graph" class="aGraph" style="position:absolute;top:0px;left:0; float:left;"></div>

    <div id="wordmap"></div>

  	<div id = "twitter_stuff">
  	  <%@tweets_to_render.each do |tweet|%>
  	    <%=tweet.text%>
  	  <%end%>
  	</div>
  </div>
</div>
