<p id="notice"><%= notice %></p>
<div class="container">
  <div class="inner">
    <center>
      <div class="move-left"><h1>
        <%= link_to @congress_person.state.name, state_path(@congress_person.state.abbreviation) %>
      </h1></div>
    </center>

    <% if @congress_person.party == "D" %>
      <%= render partial: 'democrat' %>
    <% else %>
      <%= render partial: 'republican' %>
    <% end %>
  </div>
</div>