<h1>Listing states</h1>

<div class="container">
  <h1>Map of USA with some plotted cities</h1>
    <div class="maparea3">
      <div class="map"></div>
    </div>
</div>
<br>

<%= link_to 'New State', new_state_path %>
