<div class="state-map">
	<div class="container">
		<center><h2>Investigate your state's representatives...</h2></center>
		<div class="map-area">
			<div class="map"></div>
				<div class="areaLegend"></div>
		</div>
	</div>
</div>