<div id="container">
	<h2><%= link_to @legislation.title, @legislation.url %></h2>
	<h4>Relevant Articles:</h4>
	<% @legislation.articles.each do |article| %>
	  <p><i class="fa fa-newspaper-o"></i> <%= link_to article.title, article.url %></p>
	<% end %>

	<h4>Relevant Tweets:</h4>
</div>
