/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */

body {
  background-image: url('cream_dust.png');
  margin: 0px 0px;
  padding: 0px 0px;
}

ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

img {
  height: 100px;
}

.senator-republican img {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.republican img {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.senator-democrat img {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

.democrat img {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

a {
  text-decoration: none;
}

nav li {
  display:inline-block;
}

.mapTooltip {
  position: fixed;
  background-color: #fff;
  moz-opacity: 0.70;
  opacity: 0.70;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding : 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #424342;
}

#senator-list {
  margin: 0 aut;
}

.senator-democrat {
  margin: 20px;
  padding: 20px;
  float: left;
  background-color: #588C8C;
  -webkit-box-shadow: 0 0 11px 1px #666;
}

.senator-republican {
  margin: 20px;
  padding: 20px;
  float: left;
  background-color: #D9042B;
  -webkit-box-shadow: 0 0 11px 1px #666;
}

.inner {
  margin: 0 auto;
  width: 800px;
}

#frame {
  height: 400px;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  float: left;
  background-color: #23A38F;
  border-bottom: 1px solid;
  border-top: 1px solid;
  z-index: 10px;
}

.container {
  margin: 10px auto;
  width: 100%;
}


.article {
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 5px;
  margin: 10px;
  margin-bottom: 0px;
  width: 500px;
  background-color: red;
}

.slidee {
  list-style: none;
  height: 100px;
  border-color: green;
}

.slidee li {
  -webkit-box-shadow: 0 0 11px 1px #333;
  float: left;
  width: 180px;
  height: 300px;
  overflow: auto;
  border-radius: 1px;
  padding-right: 30px;
  padding-left: 30px;
  margin: 10px;
  margin-top: 30px;
  text-align: center;
  color: white;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.slidee li.republican {
  background: #6B0C22;
}

.slidee li.republican.active {
  background: #D9042B;
}

.slidee li.democrat {
  background: #011C26;
}


.slidee li.democrat.active {
  background: #588C8C;
}

.slidee li.active {
  -ms-transform: scale(1.1, 1.1); /* IE 9 */
  -webkit-transform: scale(1.1, 1.1); /* Chrome, Safari, Opera */
  transform: scale(1.1, 1.1);
  -webkit-box-shadow: 0 0 11px 5px #444;
  background-color: #B7C11E;
  z-index: 5;
}


.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

.btn {
  border: 1px solid rgba(0,0,0,0);
  background-color: #20272D;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  color: #fff;
  padding: 10px;
  font-size: 18px;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btn:hover {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}



