/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  background-color: #F5F2EB;
  margin: 0px 0px;
  padding: 0px 0px;
}

ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

a {
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
  color: black;
  text-decoration: none;
}

a:hover {
  color: orange;
}

#frame {
  height: 600px;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
/*  overflow: auto;*/
  float: left;
  border-bottom: 1px solid;
}

.slidee {
  list-style: none;
  height: 100%;
  border-bottom: 1px solid;
  border-top: 1px solid;
}

.slidee li {
  float: left;
  height: 100%;
  width: 600px;
  overflow: auto;
  background: #fff;
  border-radius: 1px;
  color: #ddd;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  cursor: pointer;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}
.slidee li.active {
  color: #000;
  width: 600px;
  font-size: 16px;
}

.scrollbar {
  margin: 0 0 1em 0;
  height: 2px;
  background: #ccc;
  line-height: 0;
}

.scrollbar .handle {
  width: 100px;
  height: 100%;
  background: #292a33;
  cursor: pointer;
}

.scrollbar .handle .mousearea {
  position: absolute;
  top: -9px;
  left: 0;
  width: 100%;
  height: 20px;
}

