/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require font-awesome
 */
 
.palette {
  cursor: pointer;
  display: inline-block;
  vertical-align: bottom;
  margin: 4px 0 4px 6px;
  padding: 4px;
  background: #fff;
  border: solid 1px #aaa;
}

.swatch {
  display: block;
  vertical-align: middle;
  width: 37px;
  height: 22px;
}
 
body {
/*  background-image: url('states/alaska.jpg');*/
  font-family: 'Lato', sans-serif;
  margin: 0px 0px;
  padding: 0px 0px;
  background-color: #EFEFEF;
}

h1 {
  line-height: 100%;
}

ul {
  margin: 0px 0px;
  padding: 0px 0px;
}

img {
  height: 100px;
}

a {
color: #0C5C60;
text-decoration: none;
}

nav li {
  display: inline;
}

nav {
  width: 100%;
  position: fixed;
  margin-top: -20px;
  padding: 20px;
  -webkit-box-shadow: 0 0 11px 1px #111;
  background-color: #2A3A48;
  z-index: 10;
}

nav a {
  color: white;
}

nav .session_panel {
  margin-right: px;
  float: right;
}

nav li {
  display: inline-block;
}

footer {
  text-align: center;
  font-size: 14px;
  color: #2A3A48;
  clear: both;
  position: relative;
  padding-top: 60px;
}

footer a:hover {
  background-color: #2A3A48;
  color: white;
}

a:hover {
  text-decoration: none;
  color: black;
}

input {
  font-size: 17px;
  padding: 10px;
  width: 290px;
}

textarea {
  font-size: 18px;
  padding: 10px;
  width: 600px;
  height: 200px;
  resize: none;
}

footer {
  text-align: center;
  font-size: 8px;
  color: #2A3A48;
  clear: both;
  position: relative;
  padding-top: 60px;
}

.move-left {
  margin-left: -50px;
}

.senator-republican img {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.republican img {
  border-style: solid;
  border-width: 5px;
  border-color: red;
}

.senator-democrat img {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

.democrat img {
  border-style: solid;
  border-width: 5px;
  border-color: blue;
}

.mapTooltip {
  position: fixed;
  background-color: #fff;
  moz-opacity: 0.70;
  opacity: 0.70;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding : 10px;
  z-index: 1000;
  max-width: 200px;
  display: inline-block;
  color: #424342;
}

.democrat {
  float: left;
}

.republican {
  float: left;

}

.democrat img {
  border-style: solid;
  border-width: 5px;
  border-color: #053061;
}

.republican img {
  border-style: solid;
  border-width: 5px;
  border-color: #6B0C22;
}

.article .democrat {
  text-align: justify;
  color: #333;
  float: left;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: #999;
  background: rgba(33, 102, 172, 0.9);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.article .republican {
  text-align: justify;
  background-image: url('handmadepaper.png');
  color: #333;
  float: left;
  width: 400px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: #999;
  background: rgba(33, 102, 172, 0.1);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.senator-card-democrat {
  background-image: url('handmadepaper.png');
  color: #333;
  float: left;
  width: 327px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: #999;
  background: rgba(33, 102, 172, 0.1);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.senator-card-republican {
  background-image: url('handmadepaper.png');
  color: #333;
  float: left;
  width: 327px;
  margin: 10px;
  padding: 10px;
  border: 1px solid;
  border-color: #999;
  background: rgba(107, 12, 34, 0.1);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.congress-content-democrat {
  background-image: url('handmadepaper.png');
  color: #333;
  width: 400px;
  margin: 10px;
  padding: 30px;
  text-align: justify;
  border: 1px solid;
  border-color: #999;
  background: rgba(33, 102, 172, 0.1);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.congress-content-republican {
  background-image: url('handmadepaper.png');
  color: #333;
  width: 400px;
  margin: 10px;
  padding: 30px;
  text-align: justify;
  border: 1px solid;
  border-color: #999;
  background: rgba(107, 12, 34, 0.1);
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.senator-card-republican p {
  text-align: justify;
}

.senator-card-democrat p {
  text-align: justify;
}

.senator-card-republican:hover {
  background: rgba(107, 12, 34, 0.2);
}

.senator-card-democrat:hover {
  background: rgba(33, 102, 172, 0.2);
}

.politician-data {
  overflow: ellipsis;
  float: left;
  margin-left: 20px;
}

.senator-democrat {
  margin: 20px;
  padding: 20px;
  float: left;
  background-color: #588C8C;
  -webkit-box-shadow: 0 0 11px 1px #666;
}

.senator-republican {
  margin: 20px;
  padding: 20px;
  float: left;
  background-color: #D9042B;
  -webkit-box-shadow: 0 0 11px 1px #666;
}

.inner {
  margin: 0 auto;
  width: 800px;
  height: 100%;
}

.container {
  padding-top: 50px;
  margin: 10px auto;
  width: 100%;
  max-width: 1300px;
}

.article {
  position: fixed;
  padding: 20px;
  width: 900px;
  top: 170px;
  margin-left: -100px;
  display: none;
  z-index: 100px;
}

.border {
  border: 1px solid #20272D;

}

.btn {
  background-color: #20272D;
  color: #edf2f2;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 10px;
  padding: 6px;
  font-size: 18px;
  border: 1px solid #20272D;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

.btn:hover {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}

.btn:active {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}

.btnactive {
  background-color: #F6F6EF;
  color: #20272D;
  border: 1px solid #20272D;
}

.aGraph path {
          stroke: steelblue;
          stroke-width: 1;
          fill: none;
}

.congress-about {
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  border: 1px solid #20272D;
  background: rgba(33, 102, 172, 0.3);
  overflow: hidden;
}

.congress-about-republican {
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  border: 1px solid #20272D;
  overflow: hidden;
  background: rgba(107, 12, 34, 0.2);
}

.congress-email {
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  background: rgba(33, 102, 172, 0.2);
  padding: 20px;
  border: 1px solid #20272D;
}

.congress-email-republican {
  -webkit-box-shadow: 0 0 11px 1px #aaa;
  padding: 20px;
  border: 1px solid #20272D;
  background: rgba(107, 12, 34, 0.1);
}

.block-left {
  float: left;
  margin: 20px;
}

.block-left img {
  height: 160px;
  border-style: solid;
  border-width: 5px;
  border-color: #053061;
}

.block-left-republican img {
  float: left;
  margin: 20px;
  height: 160px;
  border-style: solid;
  border-width: 5px;
  border-color: #6B0C22;
}

.block-right {
  float: right;
  width: 200px;
  margin: 20px
}

.inner-congress {
  margin: 0 auto;
  width: 1200px;
  height: 100%;
}

#senator-list {
  margin: 0 auto;
}

#graph{
  padding-top: 100px;
  margin-left:10px;
}

#wordmap{
  margin-left: 10px;
  padding-top: 40px;
}

#frame {
  z-index: 0;
  height: 160px;
  overflow: none;
  width: 100%;
  margin: 0px 0px;
  padding: 0px 0px;
  float: left;
  background-color: rgba(0,0,0,0);
  background-image: url('handmadepaper.png');
  border-bottom: 1px solid;
  border-top: 1px solid;
  z-index: 10px;
  -webkit-box-shadow: inset 0 0 11px 1px #666;
}

#map-canvas {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: -200px;
  left: 0;
  right: 0;
  z-index: 0;
}

#title-bar {
   z-index:100;
   position:relative;
   color:#fff;
}

#title-close {
  color:#fff;
  opacity:1;
}

#title-close:hover {
  opacity:.5;
}

#smalllink {
  float: right;
  font-size: 14;
}
